# Configuration file

"dont touch" {
    S:"CONFIG VERSION"=MovingWorldCFG.1.0.0
}


general {
    B:"Rediscover powered blocks on next restart?"=false
}


mobile_chunk {
    S:highpriorityassembly_blocks <
        minecraft:portal
        minecraft:piston_extension
        minecraft:piston_head
        minecraft:sticky_piston
        minecraft:piston
        minecraft:portal
        minecraft:golden_rail
        minecraft:detector_rail
        minecraft:wooden_door
        minecraft:lever
        minecraft:stone_pressure_plate
        minecraft:iron_door
        minecraft:wooden_pressure_plate
        minecraft:stone_button
        minecraft:fence_gate
        minecraft:tripwire_hook
        minecraft:tripwire
        minecraft:wooden_button
        minecraft:unpowered_comparator
        minecraft:powered_comparator
        minecraft:activator_rail
        minecraft:spruce_fence_gate
        minecraft:birch_fence_gate
        minecraft:jungle_fence_gate
        minecraft:dark_oak_fence_gate
        minecraft:acacia_fence_gate
        minecraft:spruce_door
        minecraft:birch_door
        minecraft:jungle_door
        minecraft:acacia_door
        minecraft:dark_oak_door
        abyssalcraft:dsbutton
        abyssalcraft:dspplate
        abyssalcraft:dltbutton
        abyssalcraft:dltpplate
        abyssalcraft:abybutton
        abyssalcraft:abypplate
        abyssalcraft:cstonebutton
        abyssalcraft:cstonepplate
        advancedrocketry:airlock_door
        advancedrocketry:oxygenDetection
        arsmagica2:keystone_door
        arsmagica2:spell_sealed_door
        quark:nether_brick_fence_gate
        quark:obsidian_pressure_plate
        basemetals:adamantine_door
        basemetals:aquarium_door
        basemetals:brass_door
        basemetals:bronze_door
        basemetals:coldiron_door
        basemetals:copper_door
        basemetals:cupronickel_door
        basemetals:electrum_door
        basemetals:invar_door
        basemetals:lead_door
        basemetals:mithril_door
        basemetals:nickel_door
        basemetals:platinum_door
        basemetals:silver_door
        basemetals:starsteel_door
        basemetals:steel_door
        basemetals:tin_door
        basemetals:human_detector
        biomesoplenty:sacred_oak_fence_gate
        biomesoplenty:cherry_fence_gate
        biomesoplenty:umbran_fence_gate
        biomesoplenty:fir_fence_gate
        biomesoplenty:ethereal_fence_gate
        biomesoplenty:magic_fence_gate
        biomesoplenty:mangrove_fence_gate
        biomesoplenty:palm_fence_gate
        biomesoplenty:redwood_fence_gate
        biomesoplenty:willow_fence_gate
        biomesoplenty:pine_fence_gate
        biomesoplenty:hellbark_fence_gate
        biomesoplenty:jacaranda_fence_gate
        biomesoplenty:mahogany_fence_gate
        biomesoplenty:ebony_fence_gate
        biomesoplenty:eucalyptus_fence_gate
        biomesoplenty:sacred_oak_door_block
        biomesoplenty:cherry_door_block
        biomesoplenty:umbran_door_block
        biomesoplenty:fir_door_block
        biomesoplenty:ethereal_door_block
        biomesoplenty:magic_door_block
        biomesoplenty:mangrove_door_block
        biomesoplenty:palm_door_block
        biomesoplenty:redwood_door_block
        biomesoplenty:willow_door_block
        biomesoplenty:pine_door_block
        biomesoplenty:hellbark_door_block
        biomesoplenty:jacaranda_door_block
        biomesoplenty:mahogany_door_block
        biomesoplenty:ebony_door_block
        biomesoplenty:eucalyptus_door_block
        botania:manaDetector
        botania:enderEyeBlock
        botania:starfield
        botania:brewery
        botania:redStringDispenser
        botania:prism
        botania:corporeaFunnel
        botania:corporeaInterceptor
        botania:hourglass
        botania:sparkChanger
        botania:lightRelay
        botania:lightLauncher
        botania:cacophoniumBlock
        botania:redStringInterceptor
        botania:corporeaRetainer
        davincisvessels:crate_wood
        forestry:fence.gates.larch
        forestry:fence.gates.fireproof.larch
        forestry:fence.gates.teak
        forestry:fence.gates.fireproof.teak
        forestry:fence.gates.acacia
        forestry:fence.gates.fireproof.acacia
        forestry:fence.gates.lime
        forestry:fence.gates.fireproof.lime
        forestry:fence.gates.chestnut
        forestry:fence.gates.fireproof.chestnut
        forestry:fence.gates.wenge
        forestry:fence.gates.fireproof.wenge
        forestry:fence.gates.baobab
        forestry:fence.gates.fireproof.baobab
        forestry:fence.gates.sequoia
        forestry:fence.gates.fireproof.sequoia
        forestry:fence.gates.kapok
        forestry:fence.gates.fireproof.kapok
        forestry:fence.gates.ebony
        forestry:fence.gates.fireproof.ebony
        forestry:fence.gates.mahogany
        forestry:fence.gates.fireproof.mahogany
        forestry:fence.gates.balsa
        forestry:fence.gates.fireproof.balsa
        forestry:fence.gates.willow
        forestry:fence.gates.fireproof.willow
        forestry:fence.gates.walnut
        forestry:fence.gates.fireproof.walnut
        forestry:fence.gates.greenheart
        forestry:fence.gates.fireproof.greenheart
        forestry:fence.gates.cherry
        forestry:fence.gates.fireproof.cherry
        forestry:fence.gates.mahoe
        forestry:fence.gates.fireproof.mahoe
        forestry:fence.gates.poplar
        forestry:fence.gates.fireproof.poplar
        forestry:fence.gates.palm
        forestry:fence.gates.fireproof.palm
        forestry:fence.gates.papaya
        forestry:fence.gates.fireproof.papaya
        forestry:fence.gates.pine
        forestry:fence.gates.fireproof.pine
        forestry:fence.gates.plum
        forestry:fence.gates.fireproof.plum
        forestry:fence.gates.maple
        forestry:fence.gates.fireproof.maple
        forestry:fence.gates.citrus
        forestry:fence.gates.fireproof.citrus
        forestry:fence.gates.giganteum
        forestry:fence.gates.fireproof.giganteum
        forestry:fence.gates.ipe
        forestry:fence.gates.fireproof.ipe
        forestry:fence.gates.padauk
        forestry:fence.gates.fireproof.padauk
        forestry:fence.gates.cocobolo
        forestry:fence.gates.fireproof.cocobolo
        forestry:fence.gates.zebrawood
        forestry:fence.gates.fireproof.zebrawood
        forestry:fence.gates.vanilla.fireproof.oak
        forestry:fence.gates.vanilla.fireproof.spruce
        forestry:fence.gates.vanilla.fireproof.birch
        forestry:fence.gates.vanilla.fireproof.jungle
        forestry:fence.gates.vanilla.fireproof.acacia
        forestry:fence.gates.vanilla.fireproof.dark_oak
        forestry:doors.larch
        forestry:doors.teak
        forestry:doors.acacia
        forestry:doors.lime
        forestry:doors.chestnut
        forestry:doors.wenge
        forestry:doors.baobab
        forestry:doors.sequoia
        forestry:doors.kapok
        forestry:doors.ebony
        forestry:doors.mahogany
        forestry:doors.balsa
        forestry:doors.willow
        forestry:doors.walnut
        forestry:doors.greenheart
        forestry:doors.cherry
        forestry:doors.mahoe
        forestry:doors.poplar
        forestry:doors.palm
        forestry:doors.papaya
        forestry:doors.pine
        forestry:doors.plum
        forestry:doors.maple
        forestry:doors.citrus
        forestry:doors.giganteum
        forestry:doors.ipe
        forestry:doors.padauk
        forestry:doors.cocobolo
        forestry:doors.zebrawood
        forestry:greenhouse.door
        deepresonance:generator_controller
        dungeontactics:trap_boom
        dungeontactics:trap_fire
        dungeontactics:trap_slime
        dungeontactics:trap_foul
        dungeontactics:trap_ailment
        dungeontactics:trap_port
        dungeontactics:trap_spectral
        enderio:blockSelfResettingLever10
        enderio:blockSelfResettingLever30
        enderio:blockSelfResettingLever60
        enderio:blockSelfResettingLever300
        enderio:blockPaintedFenceGate
        esteemedinnovation:copper_pressure_plate
        esteemedinnovation:zinc_pressure_plate
        esteemedinnovation:brass_pressure_plate
        esteemedinnovation:funnel
        evilcraft:spikedPlate
        fp:monorail_waypoint
        fp:monorail_booster
        fp:monorail_detector
        fp:composite_door
        tconstruct:slime_channel
        primal:pressplate_dirt
        primal:pressplate_grass
        primal:pressplate_glass
        primal:pressplate_netherrack
        primal:pressplate_netherpalm
        primal:pressplate_ironwood
        primal:pressplate_thatch
        primal:pressplate_soulglass
        primal:lever_wood
        primal:lever_nether
        railcraft:detector
        refinedstorage:detector
        signals:limiter_rail
     >
    S:highprioritydisassembly_blocks <
        minecraft:piston_head
        minecraft:piston_extension
     >
    S:lowpriorityassembly_blocks <
        minecraft:redstone_wire
        minecraft:obsidian
     >
    S:lowprioritydisassembly_blocks <
        minecraft:end_portal
        minecraft:portal
        minecraft:redstone_wire
     >
}


