# Configuration file

CraftingRecipe {

    main {
        # Amount of output units. [range: 0 ~ 64, default: 1]
        I:amount=1

        # Recipe components list.
        # Components should be represented by its ids.
        # Id is a basic unit (block or item) identifier in <modId:unitName:meta> format.
        # ModId can be omitted for vanilla items. Meta can be omitted too.
        # In addition you may use '*' char as meta value to specify all possible values.
        # Or you may use just NAME in ore dictionary format (examples: oreGold, gemDiamond, blockGrass) [default: [dye:1], [AdOver:leather], [AdHooks:hookPudge:0], [string], [wooden_button]]
        S:components <
            dye:1
            AdOver:leather
            AdHooks:hookPudge:0
            string
            wooden_button
         >

        # Output unit id.
        # Id is a basic unit (block or item) identifier in <modId:unitName:meta> format.
        # ModId can be omitted for vanilla items. Meta can be omitted too.
        # In addition you may use '*' char as meta value to specify all possible values.
        # Or you may use just NAME in ore dictionary format (examples: oreGold, gemDiamond, blockGrass) [default: AdHooks:hooklauncherPudge:0]
        S:output=AdHooks:hooklauncherPudge:0

        # Shaped recipe pattern in format <nnnn> or <nnnnnnnnn>.
        # Where 'n' - number of recipe component (from 1 to 9).
        # Zero value (0) is for empty slot.
        # If pattern is empty, then recipe will be treated as shapeless. [default: 123242521]
        S:pattern=123242521
    }

    reserve {
        # Amount of output units. [range: 0 ~ 64, default: 1]
        I:amount=1

        # Recipe components list.
        # Components should be represented by its ids.
        # Id is a basic unit (block or item) identifier in <modId:unitName:meta> format.
        # ModId can be omitted for vanilla items. Meta can be omitted too.
        # In addition you may use '*' char as meta value to specify all possible values.
        # Or you may use just NAME in ore dictionary format (examples: oreGold, gemDiamond, blockGrass) [default: [dye:1], [leather], [AdHooks:hookPudge:0], [string], [wooden_button]]
        S:components <
            dye:1
            leather
            AdHooks:hookPudge:0
            string
            wooden_button
         >

        # Output unit id.
        # Id is a basic unit (block or item) identifier in <modId:unitName:meta> format.
        # ModId can be omitted for vanilla items. Meta can be omitted too.
        # In addition you may use '*' char as meta value to specify all possible values.
        # Or you may use just NAME in ore dictionary format (examples: oreGold, gemDiamond, blockGrass) [default: AdHooks:hooklauncherPudge:0]
        S:output=AdHooks:hooklauncherPudge:0

        # Shaped recipe pattern in format <nnnn> or <nnnnnnnnn>.
        # Where 'n' - number of recipe component (from 1 to 9).
        # Zero value (0) is for empty slot.
        # If pattern is empty, then recipe will be treated as shapeless. [default: 123242521]
        S:pattern=123242521
    }

}


Rope {
    # Defines a color in ARGB (Alpha, Red, Green, Blue) hex format (0xaarrggbb) [default: 0xffbf0000]
    S:color=0xffbf0000

    # Defines how elastic the rope is. [range: 0.0 ~ 0.95, default: 0.0]
    S:elasticity=0.0

    # Defines the maximal rope length. [range: 1 ~ 80, default: 20]
    I:maxLength=20

    # Defines rope width. [range: 1.0 ~ 10.0, default: 3.0]
    S:width=3.0
}


hooklauncherPudge {
    # Defines how many times the launcher can be used [range: 1 ~ 1000, default: 100]
    I:durability=100

    # Set to 'false' if you don't need this unit. [default: true]
    B:enabled=true

    # Defines how fast the launcher reels in the rope. [range: 0.1 ~ 4.0, default: 0.7]
    S:reelingSpeed=0.7
}


