/config/BetterAchievements/
!/config/BetterAchievements/BetterAchievements.cfg
/advRocketry/
/asm/
/backups/
/bin/
/coremods/
/crash-reports/
/data/
/enderio/
/journeymap/
/logs/
/mods/
/resourcepacks/
/saves/
/screenshots/
/server-resource-packs/
/Surge/
/texturepacks/
/TooManyGravesData/
/config/hqm/remote/remote/data.json
/config/JEI/worldSettings.cfg
/config/splash.properties
/overlordplayersquads.dat
betterfps.txt
BotaniaVars.dat
icon.png
minetweaker.log
options.txt
servers.dat
usercache.json
usernamecache.json
instance.json
jarmods/forge-1.10.2-12.18.3.2185-universal.jar
