/config/BetterAchievements/
!/config/BetterAchievements/BetterAchievements.cfg
/advRocketry/
/astralsorcery/
/asm/
/backups/
/bin/
/coremods/
/crash-reports/
/data/
/enderio/
/journeymap/
/logs/
/mods/
/resourcepacks/
/saves/
/screenshots/
/server-resource-packs/
/Surge/
/texturepacks/
/TooManyGravesData/
/config/hqm/remote/remote/data.json
/config/JEI/worldSettings.cfg
/config/splash.properties
/overlordplayersquads.dat
/betterfps.txt
/BotaniaVars.dat
/icon.png
/minetweaker.log
/options.txt
/servers.dat
/usercache.json
/usernamecache.json
/instance.json
/jarmods/forge-1.10.2-12.18.3.2185-universal.jar
/Release.key
/enchiridion.temp.txt
/minecolonies/scans/
/mods
/config/splash.properties
/config/jei/worldSettings.cfg
/*.zip
/*.json
/*.log
/overlordalliances.dat
/libraries/
/world/
/eula.txt
/.mixin.out/audit/mixin_implementation_report.csv
/.mixin.out/audit/mixin_implementation_report.txt
/config/InvTweaks.cfg
/config/AppliedEnergistics2/VersionChecker.cfg
/tmp/abackup-incrementalTmp/incremental.aromabackup
/config/multimob/modInformation/
/textures_0.png
/textures_1.png
/textures_2.png
/textures_3.png
/textures_4.png
/config/NetherEx/Biomes/
/config/InvTweaks/InvTweaks.cfg
/config/jei/bookmarks.ini
