# Configuration file

####################
# customspawner-settings
####################

customspawner-settings {
    B:debug=false
    B:enforceMaxSpawnLimits=false
    B:forceDespawns=false
    B:killAllVillagers=false
    B:killallUseLightLevel=true
    I:maxDespawnLightLevel=2
    I:minDespawnLightLevel=2
    B:worldGenCreatureSpawning=true
}


####################
# mod-mappings
#===================
# Mod Biome Mappings
# You may change tag values but do NOT change the default keys since they are used to generate our defaults.
# For example, 'twilightforest=TL:TwilightForest.cfg' may be changed to 'twilightforest=TWL:TWL.cfg' but may NOT be changed to 'twilight=TWL:TWL.cfg'
####################

mod-mappings {
    S:AM2 <AM2:AM2.cfg>
    S:CHAOSTHEDUDE <CHAOSTHEDUDE:CHAOSTHEDUDE.cfg>
    S:DANK <DANK:DANK.cfg>
    S:DRZHARK <DRZHARK:DRZHARK.cfg>
    S:ELUCENT <ELUCENT:ELUCENT.cfg>
    S:FEYBERRYJAM <FEYBERRYJAM:FEYBERRYJAM.cfg>
    S:FLAXBEARD <FLAXBEARD:FLAXBEARD.cfg>
    S:FORESTRY <FORESTRY:FORESTRY.cfg>
    S:FUTUREPACK <FUTUREPACK:FUTUREPACK.cfg>
    S:NEX <NEX:NEX.cfg>
    S:ORG <ORG:ORG.cfg>
    S:OVH <OVH:OVH.cfg>
    S:PEGBEARD <PEGBEARD:PEGBEARD.cfg>
    S:PROGWML6 <PROGWML6:PROGWML6.cfg>
    S:SHINOOW <SHINOOW:SHINOOW.cfg>
    S:SLIMEKNIGHTS <SLIMEKNIGHTS:SLIMEKNIGHTS.cfg>
    S:TEAMROOTS <TEAMROOTS:TEAMROOTS.cfg>
    S:TOUGHASNAILS <TOUGHASNAILS:TOUGHASNAILS.cfg>
    S:VAZKII <VAZKII:VAZKII.cfg>
    S:WAYOFTIME <WAYOFTIME:WAYOFTIME.cfg>
    S:ZMASTER587 <ZMASTER587:ZMASTER587.cfg>
    S:arsmagica <ARS:ArsMagica.cfg>
    S:biomesop <BOP:BiomesOPlenty.cfg>
    S:undefined <U:Undefined.cfg>
    S:vanilla <MC:Vanilla.cfg>
}


