# Configuration file

####################
# fpcrawler
####################

fpcrawler {
    S:biomegroups <FPCRAWLER_DEFAULT>
    B:canSpawn=true
    I:frequency=100
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=6
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=3
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# fpgehuf
####################

fpgehuf {
    S:biomegroups <FPGEHUF_DEFAULT>
    B:canSpawn=true
    I:frequency=12
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=8
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=4
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=CREATURE
}


