# Configuration file

~CONFIG_VERSION: 0.1.0

world-478927520 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=angel
    B:overlayEnabled=true
}


world-78688046 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=lumium
    B:overlayEnabled=true
}


world1544803905 {
    S:filterText=
}


world178290157 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=pump
    B:overlayEnabled=true
}


world832901633 {
    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=true

    # Hide and unhide items by clicking them in the item list.
    B:editEnabled=false
    S:filterText=@recurr

    # Show the list of items next to open guis.
    B:overlayEnabled=true
}


