# Configuration file

clipboard {
    I:0 <
        29
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        99
        108
        111
        116
        104
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        27
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        119
        111
        111
        108
        63
        99
        111
        108
        111
        114
        61
        108
        105
        109
        101
        3
        0
        1
        115
        0
        0
        0
        1
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        62
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -112
        70
        22
        41
        -49
        -49
        -49
        -79
        79
        -50
        -49
        -55
        47
        -78
        -51
        -55
        -52
        77
        101
        96
        120
        -61
        -4
        31
        10
        24
        24
        64
        24
        19
        -116
        -54
        15
        31
        121
        0
        -65
        -18
        -80
        -95
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
}


