# Configuration file

dungeons {
    # The depth at which limbo is located.
    # Min: 1
    # Max: 2147483647
    I:"Maximum Dungeon Depth"=100
}


general {
    # Dimension ID of the first Dimensional Doors dimension. Other dimensions will use consecutive IDs.
    # It strongly recommendended to leave this to the default value.
    I:"Base Dimension ID"=684

    # This options allows Dimensional Doors to automatically close the door once the player steps through.
    # Setting this to true automatically closes the doors, false allows doors to remain open once entered.
    # Default: true
    B:"Players Close Doors Behind Them"=true

    # Use the status bar to send status messages rather than the chat.
    B:"Status Bar Messages"=true
}


limbo {
    # Whether a player dying in limbo should respawn in limbo, making eternal fluid or gold dimensional doors
    # the only way to get out
    B:"Hardcore Limbo"=false

    # Sets whether players are teleported to Limbo when they die in any dimension (except Limbo).
    # Normally, players only go to Limbo if they die in a pocket dimension. This setting will not
    # affect deaths in Limbo, which can be set with the Hardcore Limbo option.
    B:"Universal Limbo"=false
}


monoliths {
    # Are Monoliths in Limbo Dangerous?
    B:"Dangerous Monoliths"=false

    # Is Monolith Teleportation enabled?
    B:"Monolith Teleportation"=true
}


pockets {
    # Forces all available pocket schematics to load on game-start even if the configured maximum sizes mean that these
    # schematics will never be placed in any naturally generated pockets. This is meant for testing purposes,
    # because the /pocket command can be used to force generate these pockets.
    B:"Load All Schematics"=true

    # Sets how large a pocket can be.
    # Min: 0
    # Max: 2147483647
    I:"Max Pocket Size"=15

    # Sets how many chunks apart all pockets in pocket dimensions should be placed.
    # Min: 4
    # Max: 2147483647
    I:"Pocket Grid Size"=32

    # Sets how large a personal pocket is when initially created.
    # Min: 0
    # Max: 7
    I:"Private Pocket Size"=2

    # Sets how deep a public pocket created in the overworld will be on average.
    # Pockets created at a deeper depth will have larger sizes.
    I:"Public Pocket Size"=1
}


world {
    # Dimension Blacklist for the generation of Dimensional Gateways. Add a dimension ID here to prevent
    # generation in these dimensions.
    I:"Gateway Dimension Type Blacklist" <
     >

    # Sets the chance (out of 1.0) that a Rift Gateway will generate in a given chunk.
    # Min: 0.0
    # Max: 1.0
    D:"Gateway Generation Chance"=0.0015

    # Dimension Type Blacklist for the generation of Rift Clusters. Add a dimension ID here to prevent
    # generation in these dimensions.
    I:"Rift Cluster Dimension Type Blacklist" <
     >

    # Sets the chance (out of 1.0) that a cluster of rifts will generate in a given chunk.
    # Min: 0.0
    # Max: 1.0
    D:"Rift Cluster Generation Chance"=2.0E-4
}


