# Configuration file

"radiant grass" {
    # Radiant Grass spreads like vanilla grass.  If set to true, Radiant Grass will create more Radiant Grass.  If set to false, Radiant Grass will create vanilla grass instead.
    B:"Radiant Grass Can Create More Radiant Grass"=true

    # Radiant Grass will can hurt monsters that walk on top of it.  Set this to false to disable this feature.
    B:"Radiant Grass Can Harm Monsters"=true

    # Radiant Grass both gives off light and in some circumstances requires light to survive.  This value will change how much light is used in these equations.  0 to 15, high values give off more light and require more light to keep alive.  Changing this to zero will make radiant grass not die of poor lighting.
    I:"Radiant Grass Light Value"=9
}


rummaging {
    # Chance of receiving a bonus apple when rummaging in vanilla oak leaves.  0 to 100, high values make apples more common.  Changing this to zero will make apple drops dependent on 'Chance of Regular Leaf Drops'.
    I:"Apple Rummage Bonus Chance"=6

    # Chance of receiving a branch when a leaf is rummaged or broken.  0 to 100, high values make branches more common.  Changing this to zero will makes branches no longer drop from leaves.
    I:"Chance of Dropping Branches"=5

    # Chance of receiving a stick when a leaf is rummaged or broken.  0 to 100, high values make stick more common.  Changing this to zero will makes sticks no longer drop from leaves.
    I:"Chance of Dropping Sticks"=11

    # Chance of receiving standard leaf drops from rummaging leaves.  Examples include fruit and saplings.  0 to 100, high values make drops more common.  Changing this to zero will NOT entirely prevent regular drops.
    I:"Chance of Regular Leaf Drops"=40
}


worldgen {
    # High values make silver ore more common. Changing this to zero will cause Druidry to not create silver ore.
    I:"Silver Ore Chances"=0
}


