# Configuration file

machines {
    # What blocks should the table accept for alloy smelters. [default: [enderio:blockAlloySmelter]]
    S:"Alloy Blocks" <
        enderio:blockAlloySmelter
     >

    # What blocks should the table accept for crafters. [default: [minecraft:crafting_table]]
    S:"Crafter Blocks" <
        minecraft:crafting_table
     >

    # What blocks should the table accept for crushers. [default: [enderio:blockSagMill]]
    S:"Crusher Blocks" <
        enderio:blockSagMill
     >
    B:"Enable Alloy Smelter"=true
    B:"Enable Crusher"=true

    # What blocks should the table accept for furances. [default: [minecraft:furnace]]
    S:"Furnace Blocks" <
        minecraft:furnace
     >

    # What blocks should the table accept for storage. [default: [minecraft:chest]]
    S:"Storage Blocks" <
        minecraft:chest
     >
}


power {
    # Should RF upgrades be allowed? [default: true]
    B:"RF Support"=true
    B:"Tesla Support"=true
}


tweaks {
    # Sets the amount of ticks between each time the worktable consumes a fuel resource [range: 0 ~ 2147483647, default: 15]
    I:"Fuel Delay"=15
    I:"Max Power"=8000
    I:"Power Conversion Rate"=8
}


upgrades {
    I:"Fuel Delay Change"=1
    I:"Fuel Efficiency Change"=4
    I:"Max Power Change"=1000
    I:"Solar Generation"=4
    I:"auto_crafter maximum amount"=1
    I:"auto_transfer maximum amount"=1
    I:"axe maximum amount"=1
    I:"charged maximum amount"=8
    I:"compactor maximum amount"=1
    I:"efficiency maximum amount"=4
    I:"filter maximum amount"=1
    I:"fuel_delay maximum amount"=5
    I:"max_power maximum amount"=16
    I:"queue maximum amount"=3
    I:"rf maximum amount"=1
    I:"solar maximum amount"=4
    I:"speed maximum amount"=8
    I:"storage maximum amount"=1
    I:"transfer maximum amount"=6
}


