# Configuration file

client {
    # Synchronize and show: Lasers from turrets [default: true]
    B:doEntityEaterSync=true

    # Show custom loading Screen [default: false]
    B:futurepackStartMenu=false

    # Synchronize and show: Itemflow in Pipes [default: true]
    B:renderPipeItems=true
}


common {
    # Number of blocks supported by one thruster [range: 0 ~ 100000, default: 101]
    I:thrusterBlockMoveCount=101
}


intern {
    I:version=1
}


magnetism {
    # Magnetic boots
    S:boots=minecraft:iron_boots,minecraft:chainmail_boots

    # Magnetic chestplates
    S:chestplates=minecraft:iron_chestplate,minecraft:chainmail_chestplate

    # Magnetic helmets
    S:helmets=minecraft:iron_helmet,minecraft:chainmail_helmet

    # Magnetic leggings
    S:leggings=minecraft:iron_leggings,minecraft:chainmail_leggings
}


server {
    # A Player must wait this time (in ms) until he can jump with a spaceship again. This prevents griefers from attacking servers. [range: 1 ~ 2147483647, default: 60000]
    I:spacetravelCooldown=60000
}


worldgeneration {
    # Quantity of Bauxite Ore [range: 0 ~ 25, default: 7]
    I:bauxiteOre=0

    # Quantity of Copper Ore [range: 0 ~ 25, default: 10]
    I:copperOre=0

    # Chance of Alutin Holes in Percent [range: 0 ~ 100, default: 5]
    I:hole_alutin=1

    # Chance of Bioterium Holes in Percent [range: 0 ~ 100, default: 5]
    I:hole_bioterium=1

    # Chance of Glowtite Holes in Percent [range: 0 ~ 100, default: 5]
    I:hole_glowtite=1

    # Chance of Neon Holes in Percent [range: 0 ~ 100, default: 5]
    I:hole_neon=1

    # Chance of Retium Holes in Percent [range: 0 ~ 100, default: 5]
    I:hole_retium=1

    # Distance in Chunks ( so *16 for block coords) around the spawn were no huge dungeons will spawn. [range: 0 ~ 2147483647, default: 0]
    I:hugeDungeon_mindis=0

    # Chance of a huge Tecdungeon to spawn in a chunk [range: 0.0 ~ 0.2, default: 0.0035]
    S:hugeDungeon_spawnrate=0.0002441406

    # Quantity of Magnetite Ore [range: 0 ~ 25, default: 5]
    I:magnetiteOre=0

    # Distance in Chunks ( so *16 for block coords) around the spawn were no tec dungeons will spawn. [range: 0 ~ 2147483647, default: 0]
    I:tecDungeon_mindis=0

    # Chance of a normal Tecdungeon to spawn in a chunk [range: 0.0 ~ 0.2, default: 0.006666667]
    S:tecDungeon_spawnrate=0.0009765625

    # Quantity of Tin Ore [range: 0 ~ 25, default: 10]
    I:tinOre=0

    # Quantity of Zinc Ore [range: 0 ~ 25, default: 10]
    I:zincOre=0
}


