# Configuration file

"block tweaks" {
    B:"Enable Bonemeal Tweak"=true
    B:"Enable Cactus Loss Prevention"=true
    B:"Enable Cake Drops"=true
    B:"Enable Easy Crop Harvesting"=true
    B:"Enable Lava Loss Prevention"=true
    B:"Enable Tool Efficiency Tweaks"=true
    S:"Harvesting Class Blacklist" <
        harvestcraft
        tehnut.resourceful.crops
        actuallyadditions
     >
    S:"Loss Prevented Blocks" <
        minecraft:obsidian
        chisel:basaltextra:7
     >
}


enchantments {
    I:"Auto-Smelt XP Cost"=15
    S:"Autosmelt Fortune Interaction Overrides" <
     >
    B:"Enable Autosmelt Enchantment"=true
    B:"Enable Autosmelt Fortune Interaction"=true
    B:"Enable Better Feather Falling"=true
    B:"Enable Hypermending Enchantment"=false
    B:"Enable Imperishable Enchantment"=true
    B:"Enable Lumbering Enchantment"=true
    B:"Enable Multifaceted Enchantment"=true
    B:"Enable Step Boost Enchantment"=true
    I:"Hypermending XP Cost"=500
    I:"Lumbering XP Cost"=20
    I:"StepBoost XP Cost"=5
}


general {

    enchantments {
        # Feather Falling IV or above directs 100% of fall damage to boots
        B:"Enable Feather Falling Tweak"=true

        # Enable the Imperishable enchantment for any breakable item
        B:"Enable Imperishable"=true

        # Enable the Lumbering enchantment for Axes
        B:"Enable Lumbering"=true

        # Number of levels Lumbering costs to create in an anvil
        # Min: 1
        # Max: 40
        I:"Lumbering Recipe XP Cost"=16
    }

    "mob tweaks" {
        # Changes horse drops under "hot" conditions
        B:"Enable "glue" drops"=true

        # Allows chicken feathers to be plucked w/ shears
        B:"Enable Feather Plucking"=true

        # Allows you to R-Click your tamed pets with horse armor
        B:"Enable Pet Armory"=true

        # Prevents enemies on the surface, except for nights of a new moon
        B:"Peaceful Surface"=true

        "drop buffs" {
            B:"Chicken Feathers"=true
            B:"Cow Leather"=true
            B:"Enderman Ender Pearls"=true
            B:"Skeleton Bones"=true
            B:"Squid Ink Sacs"=true
        }

        "sheep dye fix" {
            # The class name (or part of it) of the dye you don't want to work with the Sheep Dye Fix
            S:"Blacklisted Dyes" <
                net.minecraft.item.ItemDye
                biomesoplenty
             >

            # Allows sheep to be dyed with any oreDict dye
            B:"Enable Tweak"=true
        }

        "challenger mobs" {
            # Randomly spawns more difficult (but more lootworthy) enemies Applies to ALL enemies
            B:"Enable Tweak"=true

            # The class name (or part of it) of any entities that should not be turned to challenger mobs
            S:"Entity Blacklist" <
             >

            # Loot table. Formatted as <modid>:<item>:<metadata>*<quantity>, <modid>:<item>*quantity, or <modid>:<item>
            S:"Loot Table" <
                minecraft:gold_ingot
                minecraft:gold_nugget*15
                minecraft:diamond
                minecraft:emerald
                minecraft:ghast_tear
                minecraft:ender_pearl
                minecraft:emerald
                minecraft:experience_bottle
             >
            I:Rarity=1000
        }

    }

    "block tweaks" {
        # Allows more plants to be bonemealed
        B:"Enable Bone Meal Tweak"=true

        # Allows you to break cake if it's uneaten!
        B:"Enable Cake Tweak"=true

        # Fixes some tools NOT being effective on certain materials
        B:"Enable Effective Tool Tweaks"=true

        ##########################################################################################################
        # easy crop harvesting
        #--------------------------------------------------------------------------------------------------------#
        # Allows for right-click-to-harvest on nearly any (including mod) crop
        ##########################################################################################################

        "easy crop harvesting" {
            # Objects listed here will not be effected by the Easy Crop Harvesting tweak. These are class names, or parts of class names
            S:"Blacklisted Crops" <
                harvestcraft
                tehnut.resourceful.crops
                actuallyadditions
             >
            B:"Enable Tweak"=true
        }

    }

    "item tweaks" {
        # -1 disables any adjustments
        # Min: -1
        # Max: 2147483647
        I:"Adjust Item Despawn Time (in ticks: 20 ticks in a second)"=-1

        # One in X chance of an egg hatching, X dictated below:
        # Min: 1
        # Max: 2147483647
        I:"Egg Hatching Chance"=256

        # Allows egg items to hatch instead of despawn
        B:"Enable Egg Hatching"=true

        # Instead of de-spawning, saplings will attempt to plant themselves
        B:"Enable Sapling Self-Planting"=true
    }

    miscellaneous {
        # Prevents glitched lighting as a result of lightning - plus other side-effects
        B:"Disable Lightning In Storms"=true

        # 0 disables, 1 shows always, 2 shows with SHIFT
        # Min: 0
        # Max: 2
        I:"Durability Tooltips"=2

        # Prints your death point in chat (compatible with JourneyMap)
        B:"Enable Death Point Message"=true

        # Allows you to craft horse armor in an anvil
        B:"Enable Horse Armor Recipes"=true

        # Shows a welcome message in chat when joining a world for the first time
        B:"Enable Welcome Message"=true

        # 0 disables, 1 shows always, 2 shows with SHIFT
        # Min: 0
        # Max: 2
        I:"Food Tooltips"=2
    }

}


"item tweaks" {
    B:"Adjust Despawn Timer"=false
    I:"Egg Hatching Chance"=64
    B:"Enable Egg Hatching"=false
    B:"Enable Extra Fuels"=true
    B:"Enable Glitching Item Fix"=true
    B:"Enable Leaf Eater"=true
    B:"Enable Sapling Self-Planting"=true
    B:"Enable Stack Tweaks"=true
    B:"Enable Tool Torch Placement"=true
    B:"Leaf Eater Req. Sneak"=false
    I:"New Despawn Time"=6000
}


miscellaneous {
    B:"Disable Lightning"=true
    B:"Enable Death Point Message"=true
    B:"Enable Horse Armor Recipes"=true
    B:"Enable Ping Protection"=false
    B:"Enable Welcome Message"=true
    I:"Food Value Tooltips"=2
    I:"Tool Durability Tooltips"=2
}


"mob tweaks" {
    S:"Challenger Mob Entity Blacklist" <
        minecraft:creeper
        primal:creeper_nether
        nex:monster_spore_creeper
        primitivemobs:rocket_creeper
        primitivemobs:support_creeper
        primitivemobs:festive_creeper
     >
    S:"Challenger Mobs Loot Table" <
        minecraft:gold_ingot
        minecraft:gold_ingot
        minecraft:quartz
        minecraft:quartz
        minecraft:quartz
        minecraft:diamond
        minecraft:emerald
        minecraft:ghast_tear
        minecraft:ender_pearl
        minecraft:experience_bottle
        twilightforest:steeleaf_ingot
        twilightforest:armor_shard
        twilightforest:ironwood_raw
        dungeontactics:bag_food
        dungeontactics:bag_tool
        dungeontactics:bag_ore
        dungeontactics:bag_book
        dungeontactics:bag_record
        dungeontactics:bag_potion
     >
    I:"Challenger Mobs Rarity"=750
    B:"Disable Bat Spawning"=false
    B:"Disable Pig Zombies Spawning"=false
    B:"Enable "Glue" Drop Buff"=true
    B:"Enable Bone Drop Buff"=true
    B:"Enable Challenger Mobs"=true
    B:"Enable Ender Pearl Drop Buff"=true
    B:"Enable Feather Drop Buff"=true
    B:"Enable Feather Plucking"=true
    B:"Enable Ink Sacs Drop Buff"=true
    B:"Enable Leather Drop Buff"=true
    B:"Enable Pet Armory"=true
    B:"Enable Sheep Dye Fix"=true
    S:"Ignored Dyes" <
        net.minecraft.item.ItemDye
        biomesoplenty
     >
    B:"Prevent Overworld Witherboss"=false
}


